:root {
    
    /* --light-base: #f5f7fa; */
    --light-base: #F1F6F9;
    --base: #606c76;
    --dark-base: #212b36;

    --main-bg-color: #212b36;

    --light-red: #fce4ec;
    --red: #ff8a80;
    --dark-red: #e0342e;

    --light-yellow: #fff59d;
    --yellow: #ffd700;
    --dark-yellow: #b28800;

    --light-teal: #e3f2fd;
    --teal: #00897b;
    --dark-teal: #005546;

    --light-blue: #eff6ff;
    --blue: #039be5;
    --dark-blue: #0277bd;

    --light-purple: #e1e9ff;
    --purple: #5f27cd;
    --dark-purple: #471c7d;

    --light-pink: #fff0f6;
    --pink: #ff527a;
    --dark-pink: #c2185b;

}

