header {

    background: var(--light-base);
    border-bottom: 2px solid var(--dark-base);
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: var(--dark-yellow);
}

nav a.active {
    color: var(--dark-yellow);
    font-weight: bold;
    text-decoration: overline;
}