.color-input{
    margin: .5em 0;
}
.color-input .item{
    width: 1.5em;
    height: 1.5em;
    margin: 0 .35em;
    border-radius: 50%;
    cursor: pointer;

}

.color-input .item:not(.selected):hover{
    border: 2px solid var(--base);

}

.color-input .selected{
    border: 2px solid var(--dark-base);
    position: relative;
}

.color-input .selected::after{
    font-family: fa-solid;
    content: '\f00c';
    background-color: var(--dark-base);
    color: whitesmoke;
    padding: .5em;
    border-radius: 50%;
    font-size: .5em;
    position: absolute;
    top: -8px;
    right: -7px;

}

.color-input{
    position: absolute;
    bottom: -40px;
    background-color: hsla(0, 0%, 100%, 0.95);
    padding: 0.5em;
    border-radius: 20em;
    border: .5px solid var(--base);
    z-index: 2;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);

    /* this will make sure the element is not going of the end of the screen */
    max-width: calc(100vw - 2em); /* max width is 100vw minus the distance between the element and the sides of the screen */
    width: max-content; /* this is the actual width of the element */

    /* this is to make sure the element is not going of the beginning of the screen */
    left: max(1em, 50% - (max-width / 2));
}
