.mail-side-bar{
    display: grid;
    /* grid-template-rows: repeat(6,1fr); */
    /* grid-template-columns: repeat(2,1fr); */
    height: max-content;
}
.mail-side-bar >*{
    /* margin-bottom: 20px; */
}
.mail-side-bar >*:hover{
    
}
.row-side-bar{
    padding: 20px;

}
.row-side-bar:hover{
    background-color: #C8DAF1;
    border-top-right-radius:15px ;
    border-bottom-right-radius:15px ;
    cursor: pointer;
    box-shadow: -1px -2px 17px -2px var(--base);
    -webkit-box-shadow: -1px -2px 17px -2px var(--base);
    -moz-box-shadow: -1px -2px 17px -2px var(--base);

}