.mail-preview{
    display: grid;
    grid-template-columns: 10% auto 20%;

    background-color: white;
    border-top-color: 2px solid black;
    border-bottom: 1px solid lightgrey;
}
.mail-preview:hover{
    background-color: #EBEFF8;
    box-shadow: -1px -2px 17px -2px var(--base);
-webkit-box-shadow: -1px -2px 17px -2px var(--base);
-moz-box-shadow: -1px -2px 17px -2px var(--base);
cursor: pointer;

}
.email-preview-body{
    display: inline-flex;
    justify-content: space-around;
}
.tags{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    width: max-content;
    margin-inline-end: 20px;
}
.action-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--base);
}
.action-btn >*:hover{
    color: var(--dark-base);
    font-size: 1.3em;

}
.star {
    visibility:hidden;
    font-size:25px;
    cursor:pointer;
}
.star:before {
   content: "\2606";
   position: absolute;
   translate: 0% -30%;
   visibility:visible;
}
.star:checked:before {
    content: "\2605";
    color: gold; 
    position: absolute;
    translate: 0% -30%;
}
.selected-email{
    background-color: #EBEFF8;
}