.note-edit {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  margin: 1em;
  transition: box-shadow 0.4s, transform 0.4s;
}

.note-edit:hover {
  box-shadow: 0 0 4px 3px var(--base);
  transform: scale(1.02);
}

.note-edit.active {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 40vw;
  min-height: 40vh;
  z-index: 4;
}
