.note-edit {
  position: relative;
  width: clamp(200px, 80%, 600px);
  place-self: center;

  align-items: center;
  justify-content: space-between;

  font-size: 0.9em;

  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  margin: 1em;
  box-shadow: 0 0 6px 1px #00000042;
  transition: box-shadow 0.4s, transform 0.4s;

  .action-btns,
  .remove-btn {
    display: none;
  }
  h3 {
    color: #757575;
    padding: 0.2em 0.5em;
    flex-grow: 1;
  }
  p {
    display: none;
  }
  span.placeholder {
    color: #757575;
    padding: 0.2em 0.5em;
    position: absolute;
    display: block;
  }
}

.create-note-type {
  font-size: 1.1em;
  gap: 0.2em;
}

.note-edit:hover {
  box-shadow: 0 0 4px 3px var(--base);
  transform: scale(1.02);
}

.note-edit.active {
  position: fixed;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 40vw;
  min-height: 40vh;
  z-index: 3;

  h3 {
    min-width: 90%;
    flex: 0;
  }
  span.placeholder {
    align-self: start;
    margin: 0 2.2em;
  }
  .placeholder.behidden {
    display: none;
  }
  p,
  .action-btns,
  .remove-btn {
    display: block;
  }
  p {
    flex-grow: 1;
    display: block;
    min-width: 90%;
  }
  .create-note-type {
    display: none;
  }
}

.backdrop.active {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--base);
  opacity: 0.5;
  z-index: 3;
  top: 0;
  left: 0;
}

.remove-btn {
  position: absolute;
  right: -5px;
  top: -5px;
}
